ansi2html==1.6.0
attrs==20.3.0
docutils==0.16
et-xmlfile==1.0.1
htmlmin==0.1.12
importlib-metadata==3.7.3
iniconfig==1.1.1
item==0.0.3
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
openpyxl==3.0.7
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.2
pytest-html==3.1.1
pytest-metadata==1.11.0
pytest-reporter==0.5.1
pytest-reporter-html1==0.8.1
pytils==0.3
selection==0.0.14
selenium==3.141.0
six==1.15.0
toml==0.10.2
typing-extensions==3.7.4.3
urllib3==1.26.4
user-agent==0.1.9
weblib==0.1.30
zipp==3.4.1
